
## üìù **Practice: Sampling and Mean**

**Objective:**
Understand the difference between population and sample, and see how sample statistics estimate population statistics.



**Key Takeaway:**
 Sampling allows us to estimate population metrics quickly and efficiently, but results vary slightly depending on which members are chosen.

---

- Create a dataset of 20 employees ‚Üí columns: Name, Gender, Age, Salary, Dept.

- Choose 5 random employees ‚Üí your sample.

- Calculate mean salary of full set vs sample.

- Notice the difference ‚Äî that‚Äôs sampling variation.

In [1]:
import pandas as pd

data = {
    "Name": ["Aisha Khan", "Rohit Sharma", "Priya Verma", "Arjun Singh", "Sneha Patel",
             "Karan Mehta", "Meera Joshi", "Sameer Reddy", "Tanya Gupta", "Varun Das",
             "Anjali Sharma", "Rakesh Kumar", "Isha Kapoor", "Nikhil Jain", "Ritu Verma",
             "Deepak Singh", "Pooja Nair", "Aditya Roy", "Simran Kaur", "Mohit Bansal"],
    "Gender": ["F", "M", "F", "M", "F", "M", "F", "M", "F", "M", "F", "M", "F", "M", "F", "M", "F", "M", "F", "M"],
    "Age": [28, 32, 26, 30, 29, 35, 31, 27, 33, 29, 25, 34, 28, 31, 27, 30, 29, 33, 32, 26],
    "Salary": [48000, 55000, 45000, 60000, 50000, 65000, 52000, 47000, 58000, 51000,
               43000, 62000, 49000, 56000, 46000, 54000, 50000, 60000, 57000, 45000],
    "Dept": ["HR", "IT", "Marketing", "IT", "Finance", "IT", "Marketing", "HR", "Finance", "IT",
             "Marketing", "Finance", "HR", "IT", "Marketing", "Finance", "HR", "IT", "Finance", "Marketing"]
}

df = pd.DataFrame(data)
print(df)

             Name Gender  Age  Salary       Dept
0      Aisha Khan      F   28   48000         HR
1    Rohit Sharma      M   32   55000         IT
2     Priya Verma      F   26   45000  Marketing
3     Arjun Singh      M   30   60000         IT
4     Sneha Patel      F   29   50000    Finance
5     Karan Mehta      M   35   65000         IT
6     Meera Joshi      F   31   52000  Marketing
7    Sameer Reddy      M   27   47000         HR
8     Tanya Gupta      F   33   58000    Finance
9       Varun Das      M   29   51000         IT
10  Anjali Sharma      F   25   43000  Marketing
11   Rakesh Kumar      M   34   62000    Finance
12    Isha Kapoor      F   28   49000         HR
13    Nikhil Jain      M   31   56000         IT
14     Ritu Verma      F   27   46000  Marketing
15   Deepak Singh      M   30   54000    Finance
16     Pooja Nair      F   29   50000         HR
17     Aditya Roy      M   33   60000         IT
18    Simran Kaur      F   32   57000    Finance
19   Mohit Bansal      M   26   45000  Marketing

In [8]:
# - Choose 5 random employees ‚Üí your sample.
sample_data = df.sample(5)

# - Calculate mean salary of full set vs sample.
mean_sample_data = sample_data['Salary'].mean()
mean_Full_data = df['Salary'].mean()

# - Notice the difference ‚Äî that‚Äôs sampling variation.

**Dataset Sample (5 rows from 20 employees):**

| Name          | Gender | Age | Salary | Dept      |
| ------------- | ------ | --- | ------ | --------- |
| Aisha Khan    | F      | 28  | 48000  | HR        |
| Nikhil Jain   | M      | 31  | 56000  | IT        |
| Anjali Sharma | F      | 25  | 43000  | Marketing |
| Isha Kapoor   | F      | 28  | 49000  | HR        |
| Karan Mehta   | M      | 35  | 65000  | IT        |

**Calculations:**

* **Mean of Sample Data:** 52,200
* **Mean of Full Data (Population):** 52,650

**Observation:**

* The sample mean (52,200) is slightly different from the population mean (52,650).
* This illustrates **sampling variation**: small samples may not exactly match population statistics but give a reasonable estimate.

In [10]:
sample_data

             Name Gender  Age  Salary       Dept
0      Aisha Khan      F   28   48000         HR
13    Nikhil Jain      M   31   56000         IT
10  Anjali Sharma      F   25   43000  Marketing
12    Isha Kapoor      F   28   49000         HR
5     Karan Mehta      M   35   65000         IT

In [11]:
mean_sample_data, mean_Full_data

(52200.0, 52650.0)

In [12]:
mean_Full_data - mean_sample_data

450.0

In [14]:
 
var_sample = sample_data["Salary"].var()  # uses n-1 by default
std_sample = sample_data["Salary"].std()

print(var_sample, std_sample)

72700000.0 8526.429498916883

In [18]:
import pandas as pd
from IPython.display import display, Markdown

In [19]:


# Example full dataset
data = {
    "Name": ["Aisha Khan", "Nikhil Jain", "Anjali Sharma", "Isha Kapoor", "Karan Mehta",
             "Rohit Verma", "Simran Gill", "Rahul Sinha", "Priya Sharma", "Vikram Rao",
             "Anjali Sharma", "Isha Kapoor", "Karan Mehta", "Nikhil Jain", "Rohit Verma",
             "Simran Gill", "Rahul Sinha", "Priya Sharma", "Vikram Rao", "Aisha Khan"],
    "Gender": ["F","M","F","F","M","M","F","M","F","M","F","F","M","M","M","F","M","F","M","F"],
    "Age": [28,31,25,28,35,29,26,32,30,34,25,28,35,31,29,26,32,30,34,28],
    "Salary": [48000,56000,43000,49000,65000,47000,45000,52000,50000,60000,
               43000,49000,65000,56000,47000,45000,52000,50000,60000,48000],
    "Dept": ["HR","IT","Marketing","HR","IT","Marketing","HR","IT","Marketing","HR",
             "Marketing","HR","IT","IT","Marketing","HR","IT","Marketing","HR","HR"]
}

df = pd.DataFrame(data)

In [22]:

# Take a random sample
sample_data = df.sample(5)

# Calculate means
mean_sample_data = sample_data['Salary'].mean()
mean_full_data = df['Salary'].mean()

In [27]:
# Create Markdown dynamically


md_text = f"""
## üìùPractice: Sampling and Mean

**Objective:**  
Understand the difference between population and sample, and see how sample statistics estimate population statistics.

**Sample Dataset (5 random rows):**

{sample_data.to_markdown(index=False)}

**Calculations:**  
- **Mean of Sample Data:** {mean_sample_data:.2f}  
- **Mean of Full Data (Population):** {mean_full_data:.2f}  

**Observation:**  
- The sample mean ({mean_sample_data:.2f}) is slightly different from the population mean ({mean_full_data:.2f}).  
- This illustrates **sampling variation**: small samples may not exactly match population statistics but give a reasonable estimate.  

**Key Takeaway:**  
> Sampling allows us to estimate population metrics quickly and efficiently, but results vary slightly depending on which members are chosen.
"""

# Display Markdown
display(Markdown(md_text))

## üìùPractice: Sampling and Mean

**Objective:**
Understand the difference between population and sample, and see how sample statistics estimate population statistics.

**Sample Dataset (5 random rows):**

| Name        | Gender   |   Age |   Salary | Dept   |
|:------------|:---------|------:|---------:|:-------|
| Vikram Rao  | M        |    34 |    60000 | HR     |
| Aisha Khan  | F        |    28 |    48000 | HR     |
| Nikhil Jain | M        |    31 |    56000 | IT     |
| Simran Gill | F        |    26 |    45000 | HR     |
| Karan Mehta | M        |    35 |    65000 | IT     |

**Calculations:**
- **Mean of Sample Data:** 54800.00
- **Mean of Full Data (Population):** 51500.00

**Observation:**
- The sample mean (54800.00) is slightly different from the population mean (51500.00).
- This illustrates **sampling variation**: small samples may not exactly match population statistics but give a reasonable estimate.

**Key Takeaway:**
> Sampling allows us to estimate population metrics quickly and efficiently, but results vary slightly depending on which members are chosen.