
# üìò Matplotlib ‚Äî Questions from ‚ÄúWorking with Real Datasets‚Äù

### üîπ General Dataset Handling

1. How do you read a CSV file into a pandas DataFrame?
2. Which pandas functions are used to view the first and last few rows of a dataset?
3. Why is pandas often used together with matplotlib for visualization?

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('Churn_Modelling.csv')

df.head()
df.tail()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

---

### üîπ Value Counts & Bar Plots

4. How can you find the number of records for each category in a column (e.g., ‚ÄúGeography‚Äù)?
5. Which pandas function is used to count unique values in a column?
6. How do you plot a **horizontal bar chart** using pandas and matplotlib?
7. What is the purpose of using `plt.show()` after plotting?

---


### üîπ Analyzing Customer Churn

8. What does the `'Exited'` column represent in the churn dataset?
9. How can you calculate the **percentage of customers who have left** the company?
10. What pandas function returns the frequency of each unique value in a column?
11. How can you find the total number of customers in the dataset using pandas?

---



### üîπ Customizing Bar Charts

12. How can you find the **mean estimated salary** for each geography?
13. Which function is used to group data in pandas before plotting?
14. How can you customize bar colors and borders in matplotlib?
15. What do the parameters `color` and `edgecolor` control in `plt.bar()`?

---



### üîπ Customizing Bar Charts

12. How can you find the **mean estimated salary** for each geography?
13. Which function is used to group data in pandas before plotting?
14. How can you customize bar colors and borders in matplotlib?
15. What do the parameters `color` and `edgecolor` control in `plt.bar()`?

---


### üîπ Scatter Plots

16. What type of relationship does a **scatter plot** help visualize?
17. Write the matplotlib command to create a scatter plot of Age vs Tenure.
18. Which functions are used to label the x-axis and y-axis in matplotlib?
19. What kind of insights can you get by plotting a scatter plot between `Age` and `Tenure`?

---


### üîπ Histograms

20. What is the purpose of a **histogram** in data analysis?
21. Write a code snippet to plot a histogram for the ‚ÄúTenure‚Äù column with 30 bins.
22. What does the `bins` parameter control in `plt.hist()`?
23. What is the difference between a bar chart and a histogram?

---

### üîπ Pie Charts with Subplots

24. How can you create a pie chart using matplotlib?
25. What is the role of the `explode` parameter in a pie chart?
26. How can you create subplots for multiple pie charts in one figure?
27. What does the `startangle` parameter do in a pie chart?
28. Why might you use a pie chart with exploded slices?

---


### üîπ Box Plots

29. What are the five key statistical measures shown in a **box plot**?
30. How can you plot a box plot for the ‚ÄúTenure‚Äù column using pandas?
31. What does `churn_df['Tenure'].describe()` return?
32. What insights can a box plot provide about data distribution?
33. Which measure in a box plot indicates the median value?

---



### üîπ Conceptual / Summary

34. Why is **Matplotlib** considered a fundamental library in Python analytics?
35. Which three Python libraries form the foundation of data analysis and visualization?
36. Why is consistent practice important when learning matplotlib?
37. How can data visualization help in understanding real-world datasets?