Dataset 3: product_feedback.csv

Use for: .query(), .sort_values(), .groupby(), .pivot_table(), and .drop().

Practice ideas:

Use .query('Rating >= 4')

Sort by Rating

Group by Country to get average rating

Handle missing Rating with .fillna()

Drop irrelevant column (e.g. .drop('Feedback', axis=1))

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("product_feedback.csv")
df

   FeedbackID  Product  Rating  ReviewDate          Feedback     Country
0           1   Coffee     4.0  2024-02-02        Good taste       India
1           2      Tea     5.0  2024-02-03  Excellent flavor       India
2           3    Juice     3.0  2024-02-04         Too sweet       Nepal
3           4    Bread     2.0  2024-02-05         Not fresh  Bangladesh
4           5     Cake     4.0  2024-02-06         Delicious       Nepal
5           6     Milk     5.0  2024-02-07         Very good       India
6           7  Cookies     NaN  2024-02-08            Crispy  Bangladesh
7           8     Soda     1.0  2024-02-09              Flat   Sri Lanka
8           9    Water     4.0  2024-02-10        Refreshing       India
9          10   Coffee     NaN  2024-02-11     Average taste       Nepal

In [ ]:

# Use .query('Rating >= 4')
df.query('Rating >= 4')

# Sort by Rating
df.sort_values(by='Rating', ascending=False)

# Group by Country to get average rating
df.groupby('Country')['Rating'].mean()

# Handle missing Rating with .fillna()
avgrating = df['Rating'].mean()
df.fillna(avgrating, inplace= True)
df

# Drop irrelevant column (e.g. .drop('Feedback', axis=1))
df.drop('Feedback', axis=1)

   FeedbackID  Product  Rating  ReviewDate          Feedback     Country
0           1   Coffee     4.0  2024-02-02        Good taste       India
1           2      Tea     5.0  2024-02-03  Excellent flavor       India
2           3    Juice     3.0  2024-02-04         Too sweet       Nepal
3           4    Bread     2.0  2024-02-05         Not fresh  Bangladesh
4           5     Cake     4.0  2024-02-06         Delicious       Nepal
5           6     Milk     5.0  2024-02-07         Very good       India
6           7  Cookies     3.5  2024-02-08            Crispy  Bangladesh
7           8     Soda     1.0  2024-02-09              Flat   Sri Lanka
8           9    Water     4.0  2024-02-10        Refreshing       India
9          10   Coffee     3.5  2024-02-11     Average taste       Nepal