
**SQL Notes – Core Topics**

### 1. SQL Basics

* **SELECT**: Choose columns to display.
  Example: `SELECT name, age FROM employees;`
* **WHERE**: Filter rows based on conditions.
  Example: `WHERE salary > 50000;`
* **ORDER BY**: Sort results in ascending (ASC) or descending (DESC) order.
  Example: `ORDER BY hire_date DESC;`
* **DISTINCT**: Remove duplicate values.
  Example: `SELECT DISTINCT department;`
* **Filters**:

  * `IN`: Match values from a list → `WHERE city IN ('Delhi', 'Mumbai')`
  * `BETWEEN`: Filter within a range → `WHERE age BETWEEN 25 AND 35`
  * `LIKE`: Pattern match → `WHERE name LIKE 'A%'`
  * `IS NULL`: Check for missing values → `WHERE phone IS NULL`



---

### 2. Aggregation

* **Functions**:

  * `COUNT()` – count rows
  * `SUM()` – total of numeric column
  * `AVG()` – average value
  * `MIN()` – smallest value
  * `MAX()` – largest value
* **GROUP BY**: Combine rows with same values in a column.
  Example: `SELECT department, AVG(salary) FROM employees GROUP BY department;`
* **HAVING**: Filter groups after aggregation.
  Example: `HAVING AVG(salary) > 60000;`

---


### 3. Joins

* **INNER JOIN**: Returns only matching rows in both tables.
* **LEFT JOIN**: All rows from left table + matches from right.
* **RIGHT JOIN**: All rows from right table + matches from left.
* **FULL JOIN**: All rows from both tables (matched + unmatched).
* **Multi-table join**: Join more than two tables using multiple `JOIN` clauses.

Example:

```
SELECT c.customer_name, o.order_id, p.product_name
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
JOIN order_items oi ON o.order_id = oi.order_id
JOIN products p ON oi.product_id = p.product_id;
```

---

### Subqueries & CTE

* **Subquery**: Query inside another query.

  * In `WHERE`: filter results using another query
    → `WHERE salary > (SELECT AVG(salary) FROM employees)`
  * In `FROM`: treat result as a temporary table
  * In `SELECT`: compute values dynamically


A **subquery** is a query inside another query.

You can use it in **SELECT**, **FROM**, or **WHERE**.



### 1. Subquery in SELECT

- Used when you want a single value (scalar value).
- Example:
    
    ```sql
    SELECT
        customer_name,
        (SELECT COUNT(*) FROM orders WHERE orders.customer_id = customers.customer_id) AS total_orders
    FROM customers;
    
    ```
    
- The subquery gives one value per row.
- You must connect it using a matching column (`WHERE orders.customer_id = customers.customer_id`).



### 2. Subquery in FROM

- Used when you want to treat subquery results as a temporary table.
- Example:
    
    ```sql
    SELECT region_id, AVG(total_sales)
    FROM (
        SELECT region_id, SUM(sales) AS total_sales
        FROM orders
        GROUP BY region_id
    ) AS region_sales
    GROUP BY region_id;
    
    ```
    
- Here, the subquery creates a virtual table (`region_sales`) used in the main query.
- You can select columns, use aggregates, and apply joins too.



### 3. Subquery in WHERE

- Used to filter data based on another query’s result.
- Example:
    
    ```sql
    SELECT customer_name
    FROM customers
    WHERE customer_id IN (SELECT customer_id FROM orders WHERE amount > 5000);
    
    ```
    
- The subquery returns one or multiple values.
- You use operators like `IN`, `=`, `>`, `EXISTS`.



### Summary

| Clause | Returns | Common Use |
| --- | --- | --- |
| SELECT | Single value | Derived/calculated column |
| FROM | Table-like result | Intermediate table or grouping logic |
| WHERE | Value(s) for filter | Filtering rows based on another query |

---
* **CTE (Common Table Expression)**: Named temporary result using `WITH`.

  ```
  WITH sales_per_region AS (
      SELECT region_id, SUM(amount) AS total_sales
      FROM orders
      GROUP BY region_id
  )
  
  SELECT r.region_name, s.total_sales
  FROM regions r
  JOIN sales_per_region s ON r.region_id = s.region_id;
  ```